<div class='container'>
  <div class='committee-page'>
    <h1>COMMITTEE</h1>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='col-md-4'>
          <%= image_tag("blank_image.jpg", size: '150x130', class: 'img-thumbnail') %>
          <p>Shakti Samanta</p>
        </div>
        <div class='col-md-4'>
          <%= image_tag("blank_image.jpg", size: '150x130', class: 'img-thumbnail') %>
          <p>R D Burman</p>
        </div>
        <div class='col-md-4'>
          <%= image_tag("blank_image.jpg", size: '150x130', class: 'img-thumbnail') %>
          <p>Priyojit</p>
        </div>
      </div>
      <div class='col-md-7' id='committee-align'>
        <h4>COMMITTEE</h4>
        <p>(Registered Under Public Trust Act)</p>
        <p>(Regd. No. 4655 of 1977)(New P.T.R. No. A3172) PAN AAATN 5241L</p>
        <p>Regd. U/S 80G of IT Act. 1961 No. DIT(E)/MC/80G/1005/2011-12</p>
        <p>dt. 29.09.2011 Valid w.e.f. 17.01.2011</p>
        
        <div class='col-sm-6'>
          <h5>President</h5>
          <p>Shri Basu Chatterjee</p>
        </div>
        <div class='col-sm-6'>
          <h5>Patron in Chief</h5>
          <p>Dr. J.N. Banerjee</p>
        </div>

        <div class='col-sm-12'>
          <h5>Vice Presidents</h5>
          <div class='col-sm-4'>
            <p>Shri M.K. Modak</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri J. Acharya</p>
          </div>
          <div class='col-sm-4'>
            <p>Capt. R.K. Basu</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Deepak Mitra</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Surjit Roy</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Bilin Sen</p>
          </div>
        </div>

        <div class='col-sm-12'>
          <h5>General Secretary</h5>
          <p>Shri M.C. Banerjee</p>
        </div>

        <div class='col-sm-6'>
          <h5>Joint Secretaries</h5>
          <div class='col-sm-6'>
            <p>Shri P.K. Goon</p>
          </div>
          <div class='col-sm-6' id='height-adj'>
            <p>Shri Sankar Maitra</p>
          </div>
        </div>
        <div class='col-sm-6'>
          <h5>Treasurer</h5>
          <p>Shri A.K. Banerjee</p>
        </div>
        <div class='col-sm-12'>
          <h5>Members Managing Committee</h5>
          <div class='col-sm-4'>
            <p>Shri Kaushik Modak</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Kaushik Saha</p>
          </div>
          <div class='col-sm-4' class='height-adj'>
            <p>Shri Romi Bidichandani</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Supratik Roy</p>
          </div>
          <div class='col-sm-4'>
            <p>Smt. Mahua Indolkar</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Barun Sarkar</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Samudra Sen</p>
          </div>
          <div class='col-sm-4'>
            <p>Smt. Sanchali Sarkar</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Manilal Bhutta</p>
          </div>
          <div class='col-sm-4'>
            <p>Capt. Swapan Paul</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Nabakumar Daas</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Amit Dutta</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri A.K. Ganguly</p>
          </div>
          <div class='col-sm-4'>
            <p>Shri Subhojit Dasgupta</p>
          </div>
          <div class='col-sm-4' id='height-adj'>
            <p>Shri Subroto Chakroborty</p>
          </div>
        </div>
        <div class='col-sm-12'>
          <p class='table-foot' id='margin-realign'>Auditor - M/s. A.H. Desai, Chartered Accountant</p>
          <p class='table-foot'>(Audited accounts upto the year 31-03-2012 are available in the committee's office for inspection by members)</p>
        </div>

      </div>
      <div class='col-md-5'>
        <div class='col-md-12'>
          <%= image_tag("blank-large.jpg", size: '350x300', class: 'img-thumbnail') %>
        </div>
        <div class='col-md-12'>
          <%= image_tag("blank-large.jpg", size: '350x300', class: 'img-thumbnail') %>
        </div>
      </div>
    </div>
  </div>
</div>