<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>September 29, 2014</td>
      <td class='custom-align'>Performance by ____</td>
      <td class='realign-image'><%= image_tag("durgotsav-thumb.jpg", size: '100x100', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>September 30, 2014</td>
      <td class='custom-align'>Performance by ____</td>
      <td class='realign-image'><%= image_tag("durgotsav-thumb.jpg", size: '100x100', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>October 1, 2014</td>
      <td class='middle-align'>Performance by ____</td>
      <td class='realign-image'><%= image_tag("durgotsav-thumb.jpg", size: '100x100', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>October 2, 2014</td>
      <td class='middle-align'>Performance by ____</td>
      <td class='realign-image'><%= image_tag("durgotsav-thumb.jpg", size: '100x100', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->

<div class='table-responsive'>
  <table class='table'>
    <tr>
      <td>October 3, 2014</td>
      <td class='middle-align'>Performance by ____</td>
      <td class='realign-image'><%= image_tag("durgotsav-thumb.jpg", size: '100x100', class: 'img-thumbnail') %></td> 
    </tr>
  </table>
</div>
<!-- --------------------------- -->