<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
  
  <div class='column col-sm-3'>
    <div class="form-group">
      <div class="controls">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>
  </div>
  </br></br>

  <div class='column col-sm-3'>
    <div class="form-group">
      <div class="controls">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>
    </div>
  </div>
  </br></br>

  <div class='column col-sm-3'>
    <div class="form-group">
      <div class="controls">
        <%= f.submit "Sign in", class: 'btn btn-primary btn-default' %>
      </div>
    </div>
  </div>
  </br></br>

  <div class='column col-sm-3'>
    <div class="form-group">
      <div class="controls">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>