<% 
=begin %>
<h1>Albums</h1>
 
<ul class="row" id="photos-list">
  <%#= render @photos %>
</ul>
<%= form_for @photo, remote: true, :html => {:class => 'form-horizontal'} do |f| %>
  
  <div class='column col-sm-3'>
    <div class="form-group">  
      <%= f.label :album_name %>
      <%= f.text_field :title, required: true %>
    </div>
  </div>
  </br></br>

  <div class='column col-sm-3'>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, required: true %>
    </div>
  </div>
  </br></br></br>

  <div class='column col-sm-3'>
    <div class="form-group">
      <%= f.submit 'Submit', class: 'btn btn-primary btn-default' %>
    </div>
  </div>
  </br></br></br>
<% end %>
<% 
=end %>