<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Notunpalli" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Notunpalli" %>">
  <title>Notunpalli</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Arimo|Josefin+Slab:400,600,700|Raleway|Inconsolata', :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'photos' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
      $(document).ready(function(){
        $('.carousel').carousel();
      });
    </script>
  <div class='container'>
    <div class="pull-right user-info">
     <% if current_user %>
       Hi <%= current_user.first_name.capitalize %>! <%#= link_to edit_user_registration_path, class: 'btn btn-mini' do %>
              <!-- <i class="glyphicon glyphicon-edit"></i> -->
            <%# end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-mini' do %>
              <i class="glyphicon glyphicon-log-out"></i>
            <% end %>
     <%# else %>
       <%#= link_to "Sign In", new_user_session_path %> <!-- or 
       <%#= link_to "Sign Up", new_user_registration_path %> -->
     <% end %>
    </div>

    <%= render 'partials/flash_messages' %>
    
    <div class='page-header'>
      <div class='media'>
        <a class="pull-left" href="/">
          <%= image_tag "logo.png", class: 'resize' %><!--<img class="resize" src="" />-->
        </a>
        <div class="media-body">
          <p id='change-font' class="media-heading">NOTUNPALLI DURGOTSAB</p>
        </div>
      </div>
    </div>

    <%= render "partials/navbar" %>

<%= yield %>
  </div>
  <footer>
    <p>Copyright 2014 @ Notunpalli Sarbojonin Durgotsab Committee. All Rights Reserved.</p>
    <p id='margin-align'>Built by AjaySingh and SurabheeSaha</p>
  </footer>

</body>
</html>
