<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Notunpalli" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Notunpalli" %>">
  <title>Notunpalli</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <!-- <div class="pull-right user-info">
     <%# if current_user %>
       Hi <%#= current_user.first_name.capitalize %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
     <%# else %>
       <%#= link_to "Sign In", new_user_session_path %> or 
       <%#= link_to "Sign Up", new_user_registration_path %>
     <%# end %>
    </div>

    <%#= render 'partials/flash_messages' %>
    
    <div class='page-header'>
      <div class='media'>
        <a class="pull-left" href="#">
          <img class="media-object" src="http://icons.iconarchive.com/icons/icons-land/vista-style-emoticons/256/Study-icon.png" />
        </a>
        <div class="media-body">
          <h1 class="media-heading">Sarbojonin Durgotsab Pujo</h1>
        </div>
      </div>
    </div>

    <%#= render "partials/navbar" %> -->
<!-- ============== DRAGONFLY ============================= -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Uploader</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Upload one', root_path %></li>
      </ul>
    </div>
<!-- ====================================================== -->


<%= yield %>
  </div>

</body>
</html>
